@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: retro --default, sunset --prefersdark;
}

@source "./src/**/*.{html,md,mdx,js,jsx,ts,tsx}";

@variant dark (&:where([data-theme="sunset"], [data-theme="sunset"] *));

@layer utilities {
  .prose a {
    text-decoration-offset: 4px;
    &:hover {
      color: var(--color-primary);
      text-decoration-thickness: 2px;
      transition: all 0.2s ease-in-out;
    }
  }
  .prose {
    color: var(--color-base-content);
  }
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme="sunset"] {
  --pagefind-ui-text: oklch(var(--bc));
  --pagefind-ui-background: oklch(var(--b1));
  --pagefind-ui-border: oklch(var(--b2));
  --pagefind-ui-tag: oklch(var(--b2));
}
