html {
  scrollbar-gutter: stable;
}

body {
  font-family: "Sawarabi Gothic", sans-serif;
  font-style: normal;
  background: var(--color-base-100);
  color: var(--color-base-content);
}

#theme-icon:hover {
  transform: scale(1.1);
}

#theme-toggle:hover {
  opacity: 0.8;
}

body.theme-transition {
  transition: all 0.2s ease-in-out;
}

#sun-icon {
  display: block;
}

#moon-icon {
  display: none;
}

#theme-toggle:checked ~ label #sun-icon {
  display: none !important;
}

#theme-toggle:checked ~ label #moon-icon {
  display: block !important;
}
